
{% extends 'census/base.html' %}

{% block content %}
<h1>Add Character</h1>

<form action="{% url 'census:character_save' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <label for="id_platform" class="form-label">Platform</label>
        {{ form.platform }}
        <label>Name</label>
        {{ form.name }}
        <label>Rune Level</label>
        {{ form.rune_level }}
        <label>Weapon Level (Smithing)</label>
        {{ form.weapon_level }}
        <br />
        <input type="submit" name="operation" value="Save" class="btn btn-primary d-inline-flex align-items-center" />
    </fieldset>
</form>
{% endblock %}
