{% extends 'census/base.html' %}
{% load custom_tags %}

{% block content %}
<h1>Welcome to the Elden Ring Census!</h1>
<p>This site is for tracking interactions between Cooperators, Invaders and Hunters.</p>
<p>Using it to submit your data brings two benefits:</p>
<p>First, you can help your fellow players with planning builds, giving accruate data as to what levels will interact with what areas on which platforms</p>
<p>Second, you can use it to track your own stats. Maybe you win more on a certain build? Maybe certain Levels have more fogwalls? Find out!</p>


{% endblock %}
