{% extends 'census/base.html' %}
{% load custom_tags %}

{% block content %}
<h1>Welcome to the Elden Ring Census!</h1>
<p>This site is for tracking interactions between Cooperators, Invaders and Hunters.</p>
<p>Submitting your data brings multiple benefits:</p>
<p>You can help your fellow players with planning builds, giving accurate data as to what levels will interact with what areas on which platforms.</p>
<p>You can use it to track your own stats. Maybe you win more on a certain build? Maybe certain Rune Levels have more fogwalls? Find out!</p>
<p>You can see how your play characterstics (platform, rune level, time of day) compares to your fellow tarnished!</p>

{% if user.username %}
<a class="btn btn-lg btn-primary" href="/census/characters">My Characters</a>
{% else %}
<a class="btn btn-lg btn-primary" href="/census/sign_up">Sign Up</a>
<a class="btn btn-lg btn-primary" href="/census/accounts/login">Log In</a>
{% endif %}


{% endblock %}
