{% extends 'census/base.html' %}
{% load custom_tags %}

{% block content %}
<style>
a.role-btn{
    padding-left: 30px;
    padding-right: 30px;
}
.clear {
    clear:both;
}
</style>
<h1 class="mt-5">Record Encounter</h1>

{% for role in roles %}
    {% if role.id|to_s == selected_role %}
        <a type="button"
            class="btn role-btn btn-{{ role_styles|get_item:role.name }} btn-lg"
            href="{% url 'census:record' %}?role={{ role.id }}">{{ role.name|capfirst }}</a>
    {% else %}
        <a type="button" 
            class="btn role-btn btn-outline-{{ role_styles|get_item:role.name }} btn-lg"
            href="{% url 'census:record' %}?role={{ role.id}}">{{ role.name|capfirst }}</a>
    {% endif %}
{% endfor %}

<div class="clear"></div>

<form action="{% url 'census:record' %}" method="post">
    {% csrf_token %}
    {% if form %}
        <fieldset>
            {{ form.role }}<!-- hidden field -->
            <div class="col">
                <label for="id_character" class="form-label">Character</label><br />
                {{ form.character }}
            </div>
            <div class="col">
                <label>Location</label><br />
                {{ form.location }}
            </div>
            <div class="col">
                <label>Outcome</label><br />
                {{ form.outcome }}
            </div>
            <div class="col">
                <input type="submit" name="operation" value="Save" class="btn btn-primary d-inline-flex align-items-center" />
            </div>
        </fieldset>
    {% endif %}
</form>
{% endblock %}
